body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.img-logos {
  width: 70px;
  padding: 0;
  margin: 0;
}

#nav-bar, #nav-bar ul{
  padding:0;
  margin:0;
  list-style:none;
  text-align:center;
  display: inline;
}

#nav-bar li{
  display:inline-block;
  position:relative;
}

#nav-bar ul li{
  display:inherit;
  border-radius:0;
}

#nav-bar ul li:hover{
  border-radius:0;
}

#nav-bar ul li:last-child{
  border-radius:0 0 8px 8px;
}

#nav-bar ul{
  position:absolute;
  z-index: 30;
  max-height:0;
  left: 0;
  right: 0;
  overflow:hidden;
  -moz-transition: .6s all .3s;
  -webkit-transition: .6s all .3s;
  transition: .6s all .3s;
}
#nav-bar li:hover ul{
  max-height:15em;
}

#nav-bar li {
  background-color: white;
}

  /* les a href */
#nav-bar a{
  text-decoration:none;
  display:block;
  padding:8px 20px;
  color: black;
  font-family:arial;
}

#nav-bar ul a{
  padding:8px 0;
}

#nav-bar li:hover li a{
  color: black;
  text-transform:inherit;
}

#nav-bar li:hover a, #nav-bar li li:hover a{
  color: #F58C21;
}

.form-inline {
  margin-left: 240px;
  margin-right: 20px;
}

.loupe {
  width: 12px;
  display: inline-block;
}

.drapeau_us {
  width: 25px;
}

.panier_noir {
  width: 20px
}

.infos_cvg h2 {
  background-color: #C4C4C4;
  font-size: 90px;
  text-align: center;
  /* position: absolute; */
  margin: 0px;
  position: relative;
  top: 100px;
}

.infos_mention h2 {
  background-color: #C4C4C4;
  font-size: 90px;
  text-align: center;
  /* position: absolute; */
  margin: 0px;
}

.image_contact img {
  width: -webkit-fill-available;
}

.texte_partie1 {
  text-align: center;
  margin: 15px;
  padding: 15px;
}

#trait_dessus
{
  width: 693px;
  display: block;
  /* background: cadetblue; */
  margin-left: auto;
  margin-right: auto;
  /* border-color: #FF5722; */
  /* font-size: 45px; */
  /* color: #FF9800; */
  padding: 24px;
}
/*------------------------*/

/*CONTACT*/


.contact h2 {
  text-align: center;
  position: relative;
  padding: 15px 8px;
  margin: 129px;
  background: #EFBF8D;
}


.contact1 h2 {
  text-align: center;
  position: relative;
  padding: 15px 8px;
  right: 122px;
  margin: 129px;
  background: #EFBF8D;

}

.contact2 h2 {
  text-align: center;
  position: relative;
  padding: 15px 8px;
  bottom: 91px;
  left: 124px;
  margin: 129px;
  background: #EFBF8D;
}



/*FAQ*/

/* .faq h2 {
text-align: center;
position: relative;
}
.image_gauche2 img {
width: 20%;
/* align-items: center; */
/* position: relative;
left: 171px;
}

.image_gauche {
float: left;
width: 50%;
}
.texte_droite2  {
float: right;
width: 50%;
position: relative;
}

.texte_droite2 p {
text-align: center;
position: relative;
}  */
a.bouton8 {

  padding: 15px 40px;
  background: #F5E4D2;
  color: black;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  /* -webkit-writing-mode: vertical-rl; */
  position: relative;
  left: 0px;
  margin: 45px;
  top: 1574px;

}

.cvg_paragraphe p{
  text-align: center;
}


a.bouton7 {
  padding: 15px 40px;
  background: #F5E4D2;
  color: black;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  /* -webkit-writing-mode: vertical-rl; */
  position: relative;
  margin: 45px;
  /* top: 175px; */
  float: left;
}
a.bouton6:hover {
  background: black;
  color: #F5E4D2;
}

a.bouton6 {
  padding: 36px;
  background: #C4C4C4;
  color: black;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  /* -webkit-writing-mode: vertical-rl; */
  position: relative;
  /* margin: 68px; */
  /* top: 175px; */
  /* left: 81px; */
  right: 19px;
  bottom: 124px;
}
a.bouton6:hover {
  background: black;
  color: #F5E4D2;
}

a.bouton5 {
  padding: 15px 40px;
  background: #C4C4C4;
  color: black;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  /* -webkit-writing-mode: vertical-rl; */
  position: relative;
  margin: 45px;
  /* top: 175px;*/
  left: 309px;
  bottom: 21px;
}
a.bouton5:hover {
  background: black;
  color: #F5E4D2;
}

a.bouton4 {
  padding: 15px 40px;
  background: #F5E4D2;
  color: black;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  /* -webkit-writing-mode: vertical-rl; */
  position: relative;
  margin: 45px;
  /* top: 175px;*/
}
a.bouton4:hover {
  background: black;
  color: #F5E4D2;
}


a.bouton3 {
  padding: 15px 40px;
  background: #F5E4D2;
  color: black;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  /* -webkit-writing-mode: vertical-rl; */
  position: relative;
  left: 553px;
  margin: 45px;
  /* top: 175px; */
  bottom: 32px;
}
a.bouton3:hover {
  background: black;
  color: #F5E4D2;
}

a.bouton2 {
  padding: 15px 40px;
  background: #F5E4D2;
  color: black;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  -webkit-writing-mode: vertical-rl;
  position: relative;
  left: 297px;
  margin: 45px;
  top: 175px;
}
a.bouton2:hover {
  background: black;
  color: #F5E4D2;
}

a.bouton1 {
  padding: 15px 40px;
  background: #F5E4D2;
  color: black;
  font-weight: bold;
  font-size: 18px;
  position: relative;
  /* top: -5px; */
  bottom: 80px;
  text-decoration: none;
  left: 637px;
  -webkit-writing-mode: vertical-rl;

}
a.bouton1:hover {
  background: black;
  color: #F5E4D2;
}


.picture-left{
  float: left;
  position: relative;
  bottom: 21px;
  left: 155px;
  margin: 15px;
  width: 254px;
}

.picture-left2{
  /* float: left; */
  position: relative;
  bottom: 73px;
  left: 79px;
  /* top: 100px; */
  width: 341px;
  /* left: 41px; */
  /* right: 180px; */
  /* top: 50px; */
  /* left: 91px; */
  margin: 15px;

}

.picture-left3{
  /* float: left; */
  position: relative;
  bottom: 73px;
  left: 79px;
  /* top: 100px; */
  width: 341px;
  /* left: 41px; */
  /* right: 180px; */
  /* top: 50px; */
  /* left: 91px; */
  margin: 15px;
}

.picture-left4{
  /* float: left; */
  position: relative;
  bottom: 73px;
  left: 79px;
  /* top: 100px; */
  width: 341px;
  /* left: 41px; */
  /* right: 180px; */
  /* top: 50px; */
  /* left: 91px; */
  margin: 15px;
}

.picture-left5{
  /* float: left; */
  position: relative;
  bottom: 73px;
  left: 79px;
  /* top: 100px; */
  width: 341px;
  /* left: 41px; */
  /* right: 180px; */
  /* top: 50px; */
  /* left: 91px; */
  margin: 15px;
}



.div-categoryContainer{
  padding: 10px;
}

.paragraph-right {
  margin-top : 50px;
}

.paragraph-right p {
  /* float: right; */
  width: 50%;
  float: right;
  position: relative;
  top: 45px;
}

.paragraph-right2 p {
  width: 50%;
  float: right;
  position: relative;
  /* top: 0px; */
  bottom: 293px;
}

.paragraph-right3 p {
  width: 50%;
  float: right;
  position: relative;
  /* top: 0px; */
  bottom: 293px;
}
.paragraph-right4 p {
  width: 50%;
  float: right;
  position: relative;
  /* top: 0px; */
  bottom: 293px;
}

.paragraph-right5 p {
  width: 50%;
  float: right;
  position: relative;
  /* top: 0px; */
  bottom: 255px;
}

.paragraph-right6 p {
  /* float: right; */
  width: 50%;
  /* float: right; */
  position: relative;
  /* top: 45px; */
  left: 310px;
  bottom: 184px;
  text-align: center;

}









#trait_dessus1
{
  width: 693px;
  display: block;
  /* background: cadetblue; */
  margin-left: auto;
  margin-right: auto;
  /* border-color: #FF5722; */
  /* font-size: 45px; */
  /* color: #FF9800; */
  padding: 24px;
  top: 128px;
  position: relative;
}
#trait_dessus2
{
  width: 693px;
  display: block;
  /* background: cadetblue; */
  margin-left: auto;
  margin-right: auto;
  /* border-color: #FF5722; */
  /* font-size: 45px; */
  /* color: #FF9800; */
  padding: 24px;
  /* top: 2px; */
  left: 185px;
  bottom: 80px;
  position: relative;
}

#trait_dessus3
{
  width: 693px;
  display: block;
  /* background: cadetblue; */
  margin-left: auto;
  margin-right: auto;
  /* border-color: #FF5722; */
  /* font-size: 45px; */
  /* color: #FF9800; */
  padding: 24px;
  left: 175px;
  /* top: -2px; */
  bottom: 62px;
  position: relative;
}

#trait_dessus4
{
  width: 710px;
  display: block;
  /* background: cadetblue; */
  margin-left: auto;
  margin-right: auto;
  /* border-color: #FF5722; */
  /* font-size: 45px; */
  /* color: #FF9800; */
  left: 175px;
  /* top: -2px; */
  bottom: 62px;
  position: relative;
}

#trait_dessus5
{
  width: 693px;
  display: block;
  /* background: cadetblue; */
  margin-left: auto;
  margin-right: auto;
  /* border-color: #FF5722; */
  /* font-size: 45px; */
  /* color: #FF9800; */
  /* padding: 24px; */
  left: 175px;
  position: relative;

}






















h1{
  text-align: center;
  text-align: center;
  position: relative;
  left: 14px;
  margin: 20px;
  padding: 20px;
}
.form-style {
  margin:10px auto;
  width: 400px;
  padding: 20px 12px 10px 20px;
  font: 14px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style td {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}
.form-style label{
  margin:0 0 3px 0;
  padding:0px;
  display:block;
  font-weight: bold;
}
.form-style .required{
  color:red;
}
.form-style input[type=submit], .form-style input[type=reset]{
  background: #4eb5f1;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
}
.form-style input[type=submit]:hover, .form-style input[type=reset]:hover{
  background: #4eb5f1;
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
}
.form-style .field-textarea{
  height: 100px;
}
.form-style input[type=text],
.form-style input[type=email],
textarea{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border:1px solid #BEBEBE;
  padding: 7px;
  margin:0px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
}
.form-style .long{
  width: 100%;
}
.form-style input[type=text]:focus,
.form-style input[type=email]:focus,
.form-style textarea:focus{
  -moz-box-shadow: 0 0 8px #88D5E9;
  -webkit-box-shadow: 0 0 8px #88D5E9;
  box-shadow: 0 0 8px #88D5E9;
  border: 1px solid #88D5E9;
}
.error{
  color: #D8000C;
  background-color: #FFBABA;
}


.footer-content {
  background-color: #1D1D1D;
  height: 150px;
  width: 100%;
}

.cgu-ml-contact-left {
  float: left;
  padding-top: 70px;
  margin-left: 30px;
}

.les-mentions-contact {
  color: #fafafa;
  font-family: 'roboto', sans-serif;
  font-weight: 300;
  text-align: left;
  line-height: 24px;
  font-size: 10px;
}

.paiement-right {
  float: right;
  width: 10%;
  margin-right: 30px;

}
.pay {
  width: 100%;
}

.copyright {
  text-align: right;
  color: #fafafa;
  font-family: 'roboto', sans-serif;
  font-weight: 300;
  padding-right: 5px;
  font-size: 10px;
}

.reseaux-sociaux-center {
  text-align: center;
  padding-right: 105px;
  padding-top: 20px;
}


.facebook,
.twitter,
.pinterest {
  width: 2%;
}
}
