body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.img-logos {
  width: 70px;
  padding: 0;
  margin: 0;
}

#nav-bar, #nav-bar ul{
  padding:0;
  margin:0;
  list-style:none;
  text-align:center;
  display: inline;
}

#nav-bar li{
  display:inline-block;
  position:relative;
}

#nav-bar ul li{
  display:inherit;
  border-radius:0;
}

#nav-bar ul li:hover{
  border-radius:0;
}

#nav-bar ul li:last-child{
  border-radius:0 0 8px 8px;
}

#nav-bar ul{
  position:absolute;
  z-index: 30;
  max-height:0;
  left: 0;
  right: 0;
  overflow:hidden;
  -moz-transition: .6s all .3s;
  -webkit-transition: .6s all .3s;
  transition: .6s all .3s;
}
#nav-bar li:hover ul{
  max-height:15em;
}

#nav-bar li {
  background-color: white;
}

/* les a href */
#nav-bar a{
  text-decoration:none;
  display:block;
  padding:8px 20px;
  color: black;
  font-family:arial;
}

#nav-bar ul a{
  padding:8px 0;
}

#nav-bar li:hover li a{
  color: black;
  text-transform:inherit;
}

#nav-bar li:hover a, #nav-bar li li:hover a{
  color: #F58C21;
}

.form-inline {
  margin-left: 240px;
  margin-right: 20px;
}

.loupe {
  width: 12px;
  display: inline-block;
}

.drapeau_us {
  width: 25px;
}

.panier_noir {
  width: 20px
}

.infos_contact h2 {
  background-color: #C16B13;
  font-size: 90px;
  text-align: center;
  top: 55px;
  position: relative;
  /* position: absolute; */
  margin: 0px;
}


.image_contact img {
  width: -webkit-fill-available;
  height: 579px;
}

.texte_partie1 {
  text-align: center;
  margin: 15px;
  padding: 15px;
}

#trait_dessus
{
  width: 693px;
  display: block;
  /* background: cadetblue; */
  margin-left: auto;
  margin-right: auto;
  /* border-color: #FF5722; */
  /* font-size: 45px; */
  /* color: #FF9800; */
  padding: 24px;
}
/*------------------------*/

/*CONTACT*/


.contact h2 {
  text-align: center;
  position: relative;
  padding: 15px 8px;
  margin: 129px;
  background: #EFBF8D;
}


.contact1 h2 {
  text-align: center;
  position: relative;
  padding: 15px 8px;
  right: 122px;
  margin: 129px;
  background: #EFBF8D;

}

.contact2 h2 {
  text-align: center;
  position: relative;
  padding: 15px 8px;
  bottom: 91px;
  left: 124px;
  margin: 129px;
  background: #EFBF8D;
}


a.bouton8 {

  padding: 15px 40px;
  background: #F5E4D2;
  color: black;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  /* -webkit-writing-mode: vertical-rl; */
  position: relative;
  left: 0px;
  margin: 45px;
  top: 1574px;

}

.cvg_paragraphe p{
  text-align: center;
}


a.bouton2 {
  padding: 15px 40px;
  background: #F5E4D2;
  color: black;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  -webkit-writing-mode: vertical-rl;
  position: relative;
  left: 297px;
  margin: 45px;
  top: 175px;
}
a.bouton2:hover {
  background: black;
  color: #F5E4D2;
}

a.bouton1 {
  padding: 15px 40px;
  background: #F5E4D2;
  color: black;
  font-weight: bold;
  font-size: 18px;
  position: relative;
  /* top: -5px; */
  bottom: 80px;
  text-decoration: none;
  left: 637px;
  -webkit-writing-mode: vertical-rl;

}
a.bouton1:hover {
  background: black;
  color: #F5E4D2;
}


.picture-left{
  float: left;
  position: relative;
  bottom: 21px;
  left: 236px;
  margin: 15px;
  width: 254px;
}

.picture-left2{
  /* float: left; */
  position: relative;
  bottom: 109px;
  left: 196px;
  /* top: 100px; */
  width: 341px;
  /* left: 41px; */
  /* right: 180px; */
  /* top: 50px; */
  /* left: 91px; */
  margin: 15px;
}



.picture-left5{
  float: left;
  position: relative;
  bottom: 53px;
  left: 172px;
  margin: 15px;
  width: 254px;
}



.div-categoryContainer{
  padding: 10px;
}

.paragraph-right {
  margin-top : 50px;
}

.paragraph-right p {
  /* float: right; */
  width: 50%;
  float: right;
  position: relative;
  top: 25px;
}

.paragraph-right2 p {
  width: 50%;
  float: right;
  position: relative;
  /* top: 0px; */

  bottom: 315px;
}


#trait_dessus1
{
  width: 693px;
  display: block;
  /* background: cadetblue; */
  margin-left: auto;
  margin-right: auto;
  /* border-color: #FF5722; */
  /* font-size: 45px; */
  /* color: #FF9800; */
  padding: 24px;
  top: 128px;
  position: relative;
}
#trait_dessus2
{
  width: 693px;
  display: block;
  /* background: cadetblue; */
  margin-left: auto;
  margin-right: auto;
  /* border-color: #FF5722; */
  /* font-size: 45px; */
  /* color: #FF9800; */
  padding: 24px;
  /* top: 2px; */
  left: 51px;
  bottom: 80px;
  position: relative;
}

#trait_dessus3
{
  width: 693px;
  display: block;
  /* background: cadetblue; */
  margin-left: auto;
  margin-right: auto;
  /* border-color: #FF5722; */
  /* font-size: 45px; */
  /* color: #FF9800; */
  padding: 24px;
  left: 175px;
  /* top: -2px; */
  bottom: 62px;
  position: relative;
}

#trait_dessus4
{
  width: 710px;
  display: block;
  /* background: cadetblue; */
  margin-left: auto;
  margin-right: auto;
  /* border-color: #FF5722; */
  /* font-size: 45px; */
  /* color: #FF9800; */
  left: 175px;
  /* top: -2px; */
  bottom: 62px;
  position: relative;
}

#trait_dessus5
{
  width: 693px;
  display: block;
  /* background: cadetblue; */
  margin-left: auto;
  margin-right: auto;
  /* border-color: #FF5722; */
  /* font-size: 45px; */
  /* color: #FF9800; */
  /* padding: 24px; */
  left: 175px;
  position: relative;

}


h1{
  text-align: center;
  text-align: center;
  position: relative;
  left: 14px;
  margin: 20px;
  padding: 20px;
}


.footer-content {
  background-color: #1D1D1D;
  height: 150px;
  width: 100%;
}

.cgu-ml-contact-left {
  float: left;
  padding-top: 70px;
  margin-left: 30px;
}

.les-mentions-contact {
  color: #fafafa;
  font-family: 'roboto', sans-serif;
  font-weight: 300;
  text-align: left;
  line-height: 24px;
  font-size: 10px;
}

.paiement-right {
  float: right;
  width: 10%;
  margin-right: 30px;

}
.pay {
  width: 100%;
}

.copyright {
  text-align: right;
  color: #fafafa;
  font-family: 'roboto', sans-serif;
  font-weight: 300;
  padding-right: 5px;
  font-size: 10px;
}

.reseaux-sociaux-center {
  text-align: center;
  padding-right: 105px;
  padding-top: 20px;
}

.facebook,
.twitter,
.pinterest {
  width: 2%;
}
}



@media only screen and (min-device-width:927px)  {


  a.bouton2 {
    padding: 15px 40px;
    background: blue;
    color: black;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    -webkit-writing-mode: vertical-rl;
    position: relative;
    left: 99px;
    margin: 45px;
    top: 41px;
  }
}


@media handheld, only screen and (max-device-width:500px) {

  .image_contact img {
    width: 744px;
    height: 416px;
  }

  .texte_partie1 p {
      text-align: center;
      margin: 15px;
      padding: 15px;
      left: 123px;
      position: relative;
  }



  .contact h2 {
    text-align: center;
    position: relative;
    padding: 15px 8px;
    margin: 101px;
    background: #EFBF8D;
    left: 125px;
  }

  .picture-left {
    float: left;
    position: relative;
    bottom: 107px;
    left: 245px;
    /* margin: 0px; */
    width: 225px;
  }

  .paragraph-right p {
    .paragraph-right: ;
        p: ;
        /* width: 50%; */
        /* float: left; */
        left: 42px;
        /* left: 88px; */
        /* left: 243px; */
        /* float: right; */
        text-align: center;
        position: relative;
        /* top: -8px; */
        bottom: 10px;
  }

  a.bouton2 {
    padding: 15px 40px;
    background: red;
    color: black;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    -webkit-writing-mode: vertical-rl;
    position: relative;
    left: 99px;
    margin: 45px;
    top: 521px;
  }



  .contact h2 {
    text-align: center;
    position: relative;
    padding: 15px 8px;
    bottom: 83px;
    margin: 101px;
    background: #EFBF8D;
  }

  .picture-left2 {
    /* float: left; */
    position: relative;
    bottom: 209px;
    left: 25px;
    /* top: 100px; */
    width: 265px;
    /* left: 41px; */
    /* right: 180px; */
    /* top: 50px; */
    /* left: 91px; */
    margin: 15px;
  }

  .paragraph-right2 p {
    text-align: center;
    width: 67%;
    float: right;
    right: 60px;
    position: relative;
    /* top: 0px; */
    bottom: 243px;
  }

  a.bouton1 {
    padding: 15px 40px;
    background: red;
    color: black;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    -webkit-writing-mode: vertical-rl;
    position: relative;
    left: 99px;
    bottom: 235px;
    margin: 45px;
  }

  footer-content{
    width: 100px;
    height: 100px;
  }


}
